'.source.asm':
  'orig':
    'prefix': 'orig'
    'body': '.ORIG'
  '.orig':
    'prefix': '.orig'
    'body': '.ORIG'
  'halt':
    'prefix': 'halt'
    'body': 'HALT'
  'end':
    'prefix': 'end'
    'body': '.END'
  '.end':
    'prefix': '.end'
    'body': '.END'
  'add':
    'prefix': 'add'
    'body': 'ADD '
  'and':
    'prefix': 'and'
    'body': 'AND '
  'br':
    'prefix': 'br'
    'body': 'BR '
  'jmp':
    'prefix': 'jmp'
    'body': 'JMP '
  'jsr':
    'prefix': 'jsr'
    'body': 'JSR '
  'jsrr':
    'prefix': 'jsrr'
    'body': 'JSRR '
  'ld':
    'prefix': 'ld'
    'body': 'LD '
  'ldi':
    'prefix': 'ldi'
    'body': 'LDI '
  'ldr':
    'prefix': 'ldr'
    'body': 'LDR '
  'lea':
    'prefix': 'lea'
    'body': 'LEA '
  'not':
    'prefix': 'not'
    'body': 'NOT '
  'ret':
    'prefix': 'ret'
    'body': 'RET '
  'rti':
    'prefix': 'rti'
    'body': 'RTI '
  'st':
    'prefix': 'st'
    'body': 'ST '
  'sti':
    'prefix': 'sti'
    'body': 'STI '
  'str':
    'prefix': 'str'
    'body': 'STR '
  'trap':
    'prefix': 'trap'
    'body': 'TRAP '
  'r0':
    'prefix': 'r0'
    'body': 'R0 '
  'r1':
    'prefix': 'r1'
    'body': 'R1 '
  'r2':
    'prefix': 'r2'
    'body': 'R2 '
  'r3':
    'prefix': 'r3'
    'body': 'R3 '
  'r4':
    'prefix': 'r4'
    'body': 'R4 '
  'r5':
    'prefix': 'r5'
    'body': 'R5 '
  'r6':
    'prefix': 'r6'
    'body': 'R6 '
  'r7':
    'prefix': 'r7'
    'body': 'R7 '
