'fileTypes': [
  'asm'
]
'name': 'Assembly (LC-3)'
'patterns': [

  {
    'match': ';.*'
    'name': 'comment.line'
    'comment': 'Comment format ;'
  }
  {
    'match': '[rR][0-7]',
    'name': 'entity.name.function.reg'
    'comment': 'Register format R#'
  }
  {
    'match':  '((\\s|^)([rR][tT][iI])|([nN][oO][tT])|([sS][tT][iIrR]?)|([jJ][sS][rR][rR]?)|([tT][rR][aA][pP])|(([bB][rR])[nN]?[zZ]?[pP]?)|([rR][eE][tT])|([jJ][mM][pP])|([aA][nNdD][dD])|([lL](([eE][aA])|([dD][iIrR]?)))|([hH][aA][lL][tT])|([iI][nN])|([oO][uU][tT])|([gG][eE][tT][cC])|([pP][uU][tT][sS][pP]?))\\s'
    'name': 'support.class.8086/8088'
    'comment': 'Opcode format'
  }
  {
    'match': 'x[0-9A-F]{4}\\s'
    'name': 'constant.numeric.hex'
    'comment': 'Hexadecimal numbers format xFFFF'
  }
  {
    'match': '(b[01]+)\\s'
    'name': 'constant.numeric.bin'
    'comment': 'Binary numbers format b10'
  }
  {
    'match': '#?[0-9]+\\s'
    'name': 'constant.numeric.dec'
    'comment': 'Decimal numbers format #123 123'
  }
  {
    'match': '[\\w\\d]+:?'
    'name':'markup.italic'
    'comment': 'Label format'
  }
  {
    'match': '\\.(([oO][rR][iI][gG])|([fF][iI][lL][lL])|([eE][nN][dD])|([bB][lL][kK][wW])|([sS][tT][rR][iI][nN][gG][zZ]))'
    'name': 'entity.name.function.directives'
    'comment': 'Directive format'
  }


]
'scopeName': 'source.x86asm'
