'.source.lc3':
  'editor':
    'commentStart': ';'

  'completions': [
    'ADD'
    'AND'
    'BR'
    'BRn'
    'BRnz'
    'BRnp'
    'BRnzp'
    'BRz'
    'BRzp'
    'JMP'
    'JSR'
    'JSRR'
    'LD'
    'LDI'
    'LDR'
    'LEA'
    'NOT'
    'RET'
    'RTI'
    'ST'
    'STI'
    'STR'
    'TRAP'
    '.ORIG'
    '.END'
    'HALT'
    '.BLKW'
    '.FILL'
    'R0'
    'R1'
    'R2'
    'R3'
    'R4'
    'R5'
    'R6'
    'R7'
    'R8'
    'GETC'
    'IN'
    'OUT'
    'PUTS'
    'PUTSP'
    'STRINGZ'
    '.ORIG'
    'DDR'
    'DSR'
    'KBDR'
    'KBSR'
    'MCR'
  ]
